.screen {
    background-image: url('../images/barleyfield.jpg');
    width: 100%;
    height: 100vh
}

.strip {
    background-image: url('../images/beerbackground.jpg');
    width: 100vw;
    height: 50vh;
    position: 
}

figcaption {
    position: absolute;
    bottom: 2rem;
    margin: 0 2rem;
    color: whitesmoke;
    font-size: 2.5em;
}

@media screen and (max-width: 768px) {
    figcaption {
        position: inherit;
        bottom: inherit;
        margin: .25rem 00;
        font-size: inherit;
        color: inherit;
    }
}

